/**Article [Post]**/

article {
	width: 45vw;
	margin: 10px auto;
	border-radius: 3px;
	border: solid #DDD 1px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

@media only screen and (max-width: 767px) {
	article, article div.post-body, article div.post-body img, article div.post-body video, article div.post-footer {
		width: 85vw !important;
	}
	
	article div.comment-section {
	    display: none !important;
	}
}

article div.post-title {
	text-align: left;
	border-top: none !important;
	font-size: 22px !important;
	padding: 5px 22px !important;
	text-transform: lowercase;
}

article div.post-body, article div.post-body img, article div.post-body video {
	width: 45vw;
}

article div.comment-section {
	padding-top: 15px;
}

article div.comment-section input.comment-box {
    margin-right: 10px !important;
}
